.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;

  /*padding: 10px 10px; 이 부분이 문제인듯, main에 var로 padding 적용으로 불필요.
  2와 chevron이 라인정렬이 안되는 이유,, 해결 div배치 문제 25.2.14.*/
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 35%;
  margin-right: 15px;
}

.user-component__title {
  font-size: 25px;
  font-weight: 600;
}

.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__subtitle {
  margin-top: 10px;
  font-size: 17px;
  color: var(--subtitle-text__color);
}

.user-component__avatar-xl {
  width: 80px;
  height: 80px;
  border-radius: 35%;
}
.user-component__avatar-sm {
  width: 60px;
  height: 60px;
  border-radius: 35%;
}
.user-component__column:nth-child(2) {
  color: var(--subtitle-text__color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}
